<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GECko - Gobbles up your mistakes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <!--favicon-->
        <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!--favicon-->
    </head>
    <body>
        <header>
            <div class="header_title">
                <img src="../static/img/GECko_logo.png" alt="logo of GECko" class="logo_header"/>
                <div class="title_block">
                    <h1>ECko</h1>
                </div>
            </div>
        </header>
        <div class="main-container">
            <div class="containers-area">
                <div class="container-left container">
                    <fieldset class="inputs">
                        <textarea type="text" name="post" id="text-box" placeholder="I'm hungry for mistakes..."></textarea>
                    </fieldset>
                    <!-- <fieldset class="actions">
                        <button id="submit">Post</button>
                    </fieldset> -->
                <div id="post-container">
                </div>
                </div>

                <!-- <button class="button button5">></button> -->

                <div class="container-right container">
                    <fieldset class="inputs">
                        <textarea disabled type="text" name="post" id="text-box" placeholder="Your text digested..."></textarea>
                    </fieldset>
                    <!-- <fieldset class="actions">
                        <button id="submit">Post</button>
                    </fieldset> -->
                <div id="post-container">
                </div>
                </div>
            </div>
        </div>
    <!--Footer-->
    <footer>
        <h1></h1>
    </footer>
    </body>
</html>